<!DOCTYPE html>
<html>
<head>
  <title>XXI</title>
  <%= stylesheet_link_tag "bootstrap-1.0.0" %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
